altair
asttokens
attrs
blinker
cachetools
certifi
charset-normalizer
click
decorator
executing
gitdb
GitPython
idna
ipython
ipython_pygments_lexers
jedi
Jinja
jsonpickle
jsonschema
jsonschema-specifications
MarkupSafe
matplotlib-inline
narwhals
networkx
numpy
packaging
pandas
parso
pexpect
pillow
pip
polars
polars-runtime-
prompt_toolkit
protobuf
ptyprocess
pure_eval
pyarrow
pydeck
Pygments
python-dateutil
pytz
pyvis
referencing
requests
rpds-py
six
smmap
stack-data
streamlit
tenacity
toml
tornado
traitlets
typing_extensions
tzdata
urllib
wcwidth